.form__paper{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px 300px 50px 300px;
    margin-bottom: 30px;
}
@media (max-width: 990px){
    .form__paper{
        padding: 20px;
        width: 300px;
    }
}